include LICENSE
include README.md
recursive-include docs *
recursive-include djangocms_tacc_static_article_preview/static *
recursive-include djangocms_tacc_static_article_preview/templates *
recursive-include djangocms_tacc_static_article_preview/migrations *
