include LICENSE
include README.md
recursive-include taccsite_static_article_preview/static *
recursive-include taccsite_static_article_preview/templates *
recursive-include taccsite_static_article_preview/migrations *
